@mixin transition($seconds) {
	transition: $seconds ease-in-out;	
	-webkit-transition: $seconds ease-in-out;
}

@mixin ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin blur($px) {
	-webkit-filter: blur($px);
	-moz-filter: blur($px);
	-o-filter: blur($px);
	-ms-filter: blur($px);
	filter: blur($px);
}