<div class="polls__voter flip-container"
	[ngClass]="{
		'is_current_user': isCurrentUser, 
		'voted': voter.voted,
		'flip': voter.voted && voter.reveal}"
	(click)="cancelVote()"
	ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
			<div class='voted-text' *ngIf='voter.voted'><div>×</div></div>
			<div class='avatar-text'>{{ voter.avatar }}</div>		
		</div>
		<div class="back"
			[ngClass]="{ 'green': result === Result.Same }">
			<div class='voted-text' *ngIf='voter.voted'><div>{{ voter.vote }}</div></div>
			<div class='avatar-text'>{{ voter.avatar }}</div>					
		</div>
	</div>
</div>