@import './main';

.main-content-container {
	display: flex;
	justify-content: center;

	height: 100%;
	background-color: $color-blue;

	.main-content {
		background-color: $color-teal;		
		max-width: 980px;
		// border: 1px solid #dddfe3;
		padding: 30px 0;
	}
}
