<div class="card-container">
    <h3>Choose your estimate...</h3>
	<br>
	
    <polls-card
      *ngFor="let cardValue of cardValues"
      [value]="cardValue">
	</polls-card>
	
</div>

<div class="card-container">
    <p>{{ estimateMessage }}</p>
    <br>    

    <polls-voter
      *ngFor="let voter of voters; trackBy: trackByVoter"
	  [voter]="voter"
	  [result]="result">
	</polls-voter>

</div>

<div class="card-container">
		
	<div class='btn-3d'>		
		<button 
			type="button"
			(click)="reveal()">
			Reveal
		</button>  
	</div>

	<div class='btn-3d'>
		<button 
			type="button"
			(click)="reset()">
			Reset
		</button>
	</div>
</div>