/* You can add global styles to this file, and also import other style files */

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

html, body {
	height: 100%;
}

body {
    font-family: 'AriHelvetica Neue', 'Helvetica', 'Arial';
	background-color: #dbe9d8;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}