/* You can add global styles to this file, and also import other style files */

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

html, body {
    // background: #c2d4d8;
	// color: #1d2129;
	height: 100%;
    font-family: 'AriHelvetica Neue', 'Helvetica', 'Arial';
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}