/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
    background: #e9ebee;
    font-family: 'AriHelvetica Neue', 'Helvetica', 'Arial';
    color: #1d2129;
}
ul {
    list-style-type:none;
}
a {
    text-decoration:none;
}
button {
    cursor: pointer;
}