<div class="container color-dark">
	<div class="col">
		<p>Add a comment here</p>
	</div>

	<div class="col">
		<p>Comments ({{ comments.length }})</p>
	</div>
</div>

<div class="container color-light" [@comments]="comments.length">
	<div class="col">
		<p class="sm">Use this input to add new comment</p>
		<form>
			<input 
				type="text" 
				placeholder="Enter snarky remark here" 
				name="item" 
				class="txt" 
				[(ngModel)]="commentText">
			<input
				type="submit" 
				class="btn" 
				[value]="btnText"
				(click)="addItem()">
		</form>
	</div>

	<div class="col">
		<p 
			class="life-container" 
			*ngFor="let comment of comments; let i = index"
			(click)="removeItem(i)">
			{{ comment }}
		</p>
	</div>
</div>

<button type="button" (click)="sendMessage()">SEND</button>